@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.navbar-nav {
  font-size: 2rem;
}

.contenedor {
  display: flex;
}

.tamañologo {
  width: 6cm;
}

.fondobuscador {
  padding: 3cm;
  margin: 0cm;
  background-color: aqua;
}
.fondobuscador #colordetitulo {
  color: white;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5cm;
}

.fondoparrafo {
  background-image: url(https://images.pexels.com/photos/4602279/pexels-photo-4602279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}
.fondoparrafo .titulo_index {
  font-size: 4rem;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  color: white;
  font-weight: bold;
  overflow: hidden;
  margin-top: 5cm;
}
.fondoparrafo .texto_inicio {
  font-size: 2rem;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  color: white;
  margin-top: 3cm;
  overflow: hidden;
  width: 80%;
}

.gridcontainer_destinos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

.main_fondo {
  background-color: white;
}
.main_fondo .titulo_1 {
  text-align: center;
  color: aqua;
  font-size: 2rem;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  margin-top: 1cm;
  margin-bottom: 1.5cm;
}

.section_destinos1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_destinos1 .boton_destino {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_destinos1 .boton_destino .imagenes_destinos {
  width: 300px;
  height: 500px;
}
.section_destinos1 .boton_destino .boton_tam {
  width: 2cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

.section_destinos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_destinos2 .boton_destino {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_destinos2 .boton_destino .imagenes_destinos {
  width: 300px;
  height: 500px;
}
.section_destinos2 .boton_destino .boton_tam {
  width: 2cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

@media screen and (min-width: 768px) {
  .section_destinos1 {
    flex-direction: row;
    justify-content: space-around;
  }
  .section_destinos2 {
    flex-direction: row;
    justify-content: space-around;
  }
}
.carrusel_estudiantil {
  margin-top: 1cm;
}

.texto_estudiantil {
  background-color: white;
  color: aqua;
  padding-top: 2cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  width: 90%;
  margin-left: 1cm;
}

@media screen and (max-width: 768px) {
  .grid_estudiantil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "carousel" "texto_estudiantil" "flex-footer";
    width: 100%;
    height: 720px;
  }
  .carousel {
    grid-area: carousel;
    width: 100%;
  }
  .texto_estudiantil {
    grid-area: texto_estudiantil;
    font-size: 1.5rem;
    width: 80%;
  }
  .parrafo_est {
    margin-top: 0.5cm;
    text-align: justify;
  }
  .flex-footer {
    grid-area: flex-footer;
    width: 100%;
  }
}
.section_quinceañeras {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagen_disney texto_disney" "video_quinceañeras img_mickey";
  overflow: hidden;
}
.section_quinceañeras .imagen_disney {
  grid-area: imagen_disney;
  margin-top: 2cm;
}
.section_quinceañeras .texto_disney {
  grid-area: texto_disney;
  text-align: center;
  color: orangered;
  font-size: 2.5rem;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 5cm;
  background-color: bisque;
  margin-right: 0.5cm;
  border-style: solid;
  border-color: orangered;
  border-width: 3px;
}
.section_quinceañeras .video_quinceañeras {
  grid-area: video_quinceañeras;
  margin-top: 1cm;
  margin-left: 1.5cm;
  margin-bottom: 2cm;
}
.section_quinceañeras .tamaño_img {
  width: 95%;
  margin-left: 0.5cm;
}
.section_quinceañeras .img_mickey {
  grid-area: img_mickey;
  transition: all 0.3s ease-in-out;
}
.section_quinceañeras .img_mickey .img_mickeym {
  width: 9cm;
  margin-bottom: 2.5cm;
  margin-left: 3cm;
}
.section_quinceañeras .img_mickey:hover {
  transform: scale(1.3);
  transform-origin: center center;
}

.flex-footer {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  border-color: aqua;
  background-color: aqua;
}
.flex-footer .logoface {
  width: 2cm;
  height: 2cm;
}
.flex-footer .logoinsta {
  width: 2cm;
  height: 2cm;
}

@media screen and (max-width: 768px) {
  .section_quinceañeras {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "imagen_disney" "texto_disney" "video_quinceañeras";
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texto_disney {
    width: 65%;
    margin-top: 2cm;
    margin-left: 2cm;
  }
  .imagen_disney {
    width: 70%;
    margin-top: 2.5cm;
    margin-left: 1.7cm;
    margin-right: 2cm;
  }
  .video_quinceañeras {
    margin-right: 1.9cm;
  }
  .tamaño_video {
    width: 100%;
  }
  .flex-footer {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .img_mickey {
    display: none;
  }
}
.main_contacto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "donde_estamos contactanos";
  background-image: url(../img/104273205_2600135940087904_6412063635946630690_n.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 1000px;
}
.main_contacto .donde_estamos {
  grid-area: donde_estamos;
  margin-top: 2cm;
  margin-left: 1cm;
}
.main_contacto .titulo_mapa {
  margin-bottom: 1cm;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  color: white;
  font-weight: bold;
}
.main_contacto .contactanos {
  grid-area: contactanos;
  margin-top: 2cm;
  margin-left: 2cm;
  width: 80%;
}
.main_contacto .contactanos .titulo_contacto {
  margin-bottom: 1cm;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  color: white;
  font-weight: bold;
}
.main_contacto .contactanos .titulo_contacto {
  margin-bottom: 1cm;
  font-family: "Noto Sans Adlam Unjoined", sans-serif;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "donde_estamos" "contactanos";
  }
  .contactanos {
    width: 60%;
    margin-left: 2cm;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
  .titulo_mapa {
    margin-left: 1.5cm;
  }
  .titulo_contacto {
    margin-left: 1.5cm;
  }
}

/*# sourceMappingURL=estilos.css.map */
