@use'../sass/variables.scss';

.main_contacto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "donde_estamos contactanos";
    background-image: url(../img/104273205_2600135940087904_6412063635946630690_n.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 1000px;
}

.donde_estamos{
    grid-area: donde_estamos;
    margin-top: 2cm;
    margin-left: 1cm;
}

.titulo_mapa{
    margin-bottom: 1cm;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    color: variables.$color_titulo;
    font-weight: bold;
}
.contactanos{
    grid-area: contactanos;
    margin-top: 2cm;
    margin-right: 1cm;
}
.titulo_contacto{
    margin-bottom: 1cm;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    color: variables.$color_titulo;
    font-weight: bold;
}

@media screen and (min-width:768px) {
    .main_contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-area: 
        "donde_estamos contactanos";
    }
}
