@use'../sass/variables.scss';

@mixin tamanos ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
@mixin margin ($margintop, $marginleft){
    margin-top: $margintop;
    margin-left: $marginleft;
}

.main_contacto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "donde_estamos contactanos";
    background-image: url(../img/104273205_2600135940087904_6412063635946630690_n.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    @include tamanos(100%, 1000px );
}

.donde_estamos{
    grid-area: donde_estamos;
    @include margin(2cm, 1cm);
}

.titulo_mapa{
    margin-bottom: 1cm;
    font-family: variables.$font_family;
    color: variables.$color_titulo;
    font-weight: bold;
}
.contactanos{
    grid-area: contactanos;
   @include margin(2cm, 2cm);
    width: 80%;
}
.titulo_contacto{
    margin-bottom: 1cm;
    font-family: variables.$font_family;
    color: variables.$color_titulo;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .main_contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "donde_estamos"
        "contactanos";
    }

    .contactanos{
        width: 60%;
        margin-left: 2cm;
    }
    
    iframe{
        @include tamanos(300px, 300px );
    }
    .titulo_mapa{
        margin-left: 1.5cm;
    }
    .titulo_contacto{
        margin-left: 1.5cm;
    }
    
}
