@use'./variables.scss';

@mixin margin ($margintop, $marginbottom){
    margin-top: $margintop;
    margin-bottom: $marginbottom;
}

@mixin tamanos ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.gridcontainer_destinos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.main_fondo{
    background-color: variables.$color_titulo;
}
.titulo_1{
    text-align: center;
    color: variables.$color_fondo;
    font-size: 2rem;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
   @include margin(1cm, 1.5cm);
}
.imagenes_destinos{
  @include tamanos(300px, 500px);
}
.section_destinos1{
    display: flex;
    flex-direction: column;
   align-items: center;

}

.section_destinos2{
    display: flex;
    flex-direction: column;
   align-items: center;

}
.boton_destino{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton_tam{
    width: 2cm;
   @include margin(0.5cm, 0.5cm);
}

@media screen and (min-width:768px) {
    .section_destinos1{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .section_destinos2{
        flex-direction: row;
        justify-content: space-around;
    }
   
}