@use '../sass/variables.scss';

.carrusel_estudiantil{
    margin-top: 1cm;
}

.texto_estudiantil{
    background-color: white;
    color: aqua;
   padding-top: 2cm;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Noto Sans Adlam Unjoined', sans-serif;
   font-size: 3rem;
   letter-spacing: variables.$letter_spacing;
   width: 90%;
   margin-left: 1cm;
}

@media screen and (max-width:768px) {
    .grid_estudiantil{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "carousel"
        "texto_estudiantil"
        "flex-footer";
        width: 100%;
        height: 720px;
    }
    .carousel{
        grid-area: carousel;
        width: variables.$width;
    }
    .texto_estudiantil{
        grid-area: texto_estudiantil;
        font-size: 1.5rem;
        width: 80%;
    }
    .parrafo_est{
        margin-top: 0.5cm;
        text-align: justify;
    }
    
    .flex-footer{
        grid-area: flex-footer;
        width: variables.$width;
    }
}



