@use'./variables.scss';

@mixin tamanos ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin margin ($margintop, $marginleft){
    margin-top: $margintop;
    margin-left: $marginleft;
}

.section_quinceañeras{
    background-color: variables.$color_titulo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagen_disney texto_disney"
    "video_quinceañeras img_mickey";
    overflow: hidden;
    }
  
    .imagen_disney{
        grid-area: imagen_disney;
        margin-top: 2cm;
    }
    .tamaño_img{
        width: 95%;
        margin-left: 0.5cm;
    }
    .texto_disney{
        grid-area: texto_disney;
        text-align:center;
        color: orangered;
        font-size: 2.5rem;
        font-family: variables.$font_family;
        font-weight: bold;
        letter-spacing: variables.$letter_spacing;
        margin-top: 5cm;
        background-color: bisque;
        margin-right: 0.5cm;
        border-style: solid;
        border-color: orangered;
        border-width: 3px;
    }
   
    .video_quinceañeras{
        grid-area: video_quinceañeras;
       @include margin(1cm, 1.5cm);
        margin-bottom: 2cm;
    }

    .img_mickey{
        grid-area: img_mickey;
        transition: all .3s ease-in-out;
    }
    .img_mickey:hover {
        transform: scale(1.3);
        transform-origin: center center;
    }
    .img_mickeym{
        margin-bottom: 2.5cm;
        margin-left: 1cm;
    }
    .flex-footer{
        display: flex;
        height: 150px;
        align-items: center;
       justify-content: center;
       border-color: aqua;
       background-color: variables.$color_fondo;
       .logoface{
        @include tamanos(2cm, 2cm )
     }
     .logoinsta{
         @include tamanos(2cm, 2cm )
     }
    }
    
    @media screen and (max-width:768px) {
        .section_quinceañeras{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "imagen_disney"
            "texto_disney"
            "video_quinceañeras";
            width: 100%;
            height: 1300px;
            display: flex;
            flex-direction: column;
            align-items: center;      
        }
        .texto_disney{
            width: 65%;
            @include margin(2cm, 2cm);
        }
        .imagen_disney{
            width: 70%;
          @include margin(2.5cm, 1.7cm);
            margin-right: 2cm;
           
        }
        .video_quinceañeras{
            margin-right: 1.9cm;
        }
        .tamaño_video{
            width: 100%;
        }

        .flex-footer {
            width: 100%;
        }
       
    }
    @media screen and (max-width:1024px){
        .img_mickey{
            display: none;
        }
    }
   


